.btnSubscribe {
	background-color: var(--yellow-500);
	color: var(--gray-900);
	height: 4rem;
	padding: 0 4rem;
	border: none;
	border-radius: 6.25rem;
	font-size: 1.25rem;
	font-weight: 700;
	transition: background-color 0.2s;
}

.btnSubscribe:hover {
	background-color: rgba(235, 165, 25, 0.7);
}
